<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<h1>Data Science Tools and Ecosystem<h1>

<h3> In this notebook, Data Science Tools and Ecosystem are summarized.<h3>

Here a list of Data Science Languages: 
1) Python 
2) R 
3) Stata 
4) Java

Here a list of DS libraries: 
- Numpy
- Pandas
- SciPy
- TensorFlow
- Plotly

Here a table with one product for each category tool:
| Open Source| Commercial | Cloud |
| --- | --- | --- |
| MySQL | SAP | AWS

<h3>Following, arithmetic expression examples:<h3>

In [5]:
(2+2)*4

16

In [3]:
#minutes to hour
15/60

0.25

In [4]:
#hour(s) to minutes
2.5*60

150.0

Objectives:
- Become a Data Scientist
- Become Rich

The Author's Name is Giovanni